################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/portfolio/portfolioServ/.vs/portfolioServ
/portfolio/portfolioServ/.vs/ProjectEvaluation
/portfolio/portfolioClient/node_modules
/portfolio/portfolioClient/.angular/cache/19.0.6
/portfolio/portfolioClient/dist/portfolio
