################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/portfolio/portfolioServ/.vs/portfolioServ
/portfolio/portfolioServ/.vs/ProjectEvaluation
/portfolio/portfolioClient/node_modules
/portfolio/portfolioClient/.angular/cache/19.0.6
/portfolio/portfolioClient/dist/portfolio
/portfolio/portfolioServ/obj/Debug/net8.0
/portfolio/portfolioServ/obj/Debug/net8.0
/portfolio/portfolioServ/obj/Container
/portfolio/portfolioServ/obj/Debug/net8.0
/portfolio/portfolioServ/obj/Debug
/portfolio/portfolioServ/bin/Debug/net8.0
