.container{
    padding: 0 72px;
    display: flex;
    align-items: center;
}
.header__nav{
    display: flex;
    width: 100%;
}
.header__nav-list{
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    gap: 48px;
    list-style: none;
}
.header__link{
    position: relative;
    cursor: pointer;
}
.header__link:after{    
    content: '';
    width: 0;
    position: absolute;
    height: 2px;
    bottom: 0px;
    left: 0px;
    background-color: black;
    transition: width 0.3s;
}
.header__link:hover{
    color: #960606;
}
.header__link:hover::after{
    width: 100%;    
}