<div class="main">
  <div class="container">
    <div class="about-us">
      <h1>Ипанов Вадим</h1>
      <p>Full-stack разработчик</p>
      <p>Создаю сайты и цифровые решения для различных бизнес задач</p>
      <nav></nav>
    </div>
    <div class="main-content">
      <ul class="main-content__list">
        <li>
          В 2015 я поступил в университет на направление "Информатика и вычислительная техника", в ходе обучения,
          на 2м курсе я начал изучать web программирование. Я изучал технологии html, css, js. Параллельно изучению
          front-end, так же увлекался разработкой на c#.
        </li>
        <li>
          На 4м курсе, меня пригласили работать в университет
          на должность разработчика по. В мои обязанности входили разработка и сопровождение сайтов,
          разработка back-end части сайтов, верстка front-end части сайтов.
        </li>
        <li>
          Спустя год работы, я решил, что надо расти дальше, начал изучать angular. Ушел из работы в университете
          и устроился в web студию, где я выполнял мелкие заказы, заодно выучил технологию tailwind, а так же
          окунулся в мир php back-end, а именно october cms.
        </li>
        <li>
          В свободное от работы время, продолжаю изучать angular, asp.net. Играю в игры на подобии world of warcraft.
        </li>
      </ul>
      <jobe-comp></jobe-comp>
    </div>
  </div>
</div>