:host{
    font-family: Montserrat,sans-serif;
}
.container{
    padding: 0 72px;
    display: flex;
    align-items: center;
}
.about-us{
    width: 40%;
    margin: auto;
    position: fixed;
}
.main-content{
    width: 40%;
    margin-left: auto;
}
.main-content__list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}